body {
  margin:0;
  padding: 0;
  background-color: #e5e4e4;
	/* background: linear-gradient(to top, #2980b9, #6dd5fa, #ffffff); */
  height: 100vh;
  width: 100%;
}

.logo-img{
	height: 5vh;
	width: 7vw;
	padding-top: 0.6em;
	padding-left: 0.5em;
}

.main-header {
	font-family: Arial;
	font-size: 1.4rem;
	padding: 0.7em;
	letter-spacing: 0.1em;
	font-weight: bold;
	color: rgb(51, 50, 50);
}

.header-date {
	font-family: 'century gothic';
	font-size: 1rem;
	padding: 0.7em;
	color: rgb(24, 24, 24);
}

.main-container {
	margin: auto;
	margin-top: 2rem;
	padding: 1rem 2rem;
	width: 60vw;
}

.card-container-outer {
	background-color: #fff;
	padding: 0rem;
	box-shadow: rgba(46, 46, 46, 0.16) 0px 3px 6px,
		rgba(59, 58, 58, 0.23) 0px 3px 6px;
	color: #333;
	border-radius: 0.5em;
	min-height: 25vh;
	max-height: 80vh;
	width: 100%;
}

.card-container-header {
	font-family: 'arial';
	font-size: 1rem;
	padding: 0.8em 2em;
	background-color: #313131;
	color: rgb(241, 241, 241);
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	width: auto;
	letter-spacing: 0.15em;
	text-align: center;
}

.card-container-inner {
	padding: 1.5rem;
	padding-bottom: 2.5rem;
	margin: auto;
}

.search-btn {
	margin-top: 0.5rem;
	width: 10vw;
	height: 4vh;
	background-color: #2099c1;
	color: #f6f6f6;
	border-radius: 0.5rem;
	font-family: 'arial';
	font-size: 0.8rem;
	letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
	border-color: rgba(243, 243, 243, 0);
}

.search-btn:hover{
	cursor: pointer;
	background-color: rgb(0, 122, 162); 
	color: #f6f6f6;
	box-shadow: 0 0 40px 40px rgb(0, 122, 162) inset;
	box-shadow: rgba(66, 65, 65, 0.16) 0px 3px 6px,
		rgba(59, 59, 59, 0.23) 0px 3px 6px;
}

.search-quote-btn {
	margin-top: 0.3rem;
	width: 7vw;
	height: 3vh;
	background-color: #077295;
	color: #f6f6f6;
	border-radius: 0.5rem;
	font-family: 'arial';
	font-size: 0.6rem;
	letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
	border-color: rgba(243, 243, 243, 0);
}

.search-quote-btn:hover{
	cursor: pointer;
	background-color: rgb(6, 51, 63); 
	color: #f6f6f6;
	box-shadow: 0 0 40px 40px rgb(0, 122, 162) inset;
	box-shadow: rgba(66, 65, 65, 0.16) 0px 3px 6px,
		rgba(59, 59, 59, 0.23) 0px 3px 6px;
}

.addModal {
  background-color: rgba(255, 255, 255, 0.95);
  color: rgb(24, 23, 23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 1rem;
  overflow-y: auto;
}

.form {
  margin: auto;
  align-items: center;
  justify-content: center;
}